@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import "./vars";




.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    height: 10rem;
    background-color: darken($main-color, 1);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    color: $primary-color;
    padding: 7rem;

    .footer__container { 
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        align-items: center; 
        gap: 5rem;
        height: inherit;
        
        .social__media-link:hover { text-decoration: underline; }
        
        .madeby { 
            width: max-content;
            color: transparentize($primary-color, .2); 
        }
    }

    .school {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: small;
    }
}

