@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./vars";



.header__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: min-content;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: $main-color;
    padding: 1rem;
    color: $primary-color;

    @media screen and (max-width: 460px) {
        transform: translateX(80%);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0);
        .header__item { font-size: x-large; }
    }

    .header__menu-burger {
        display: none;
        position: absolute;
        color: $primary-color;
        left: 1rem;
        top: 1rem;
        padding: 0 .6rem;
        height: 2.5rem;
        width: 3.5rem;

        @media screen and (max-width: 460px) { display: initial; }
     }    
}

.header__item {
    font-size: medium;
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: all .15s ease-in-out;
    padding: .5rem;
    width: max-content;
    color: $primary-color;

    &::after {
        content: '';
        display: block;
        background-color: $primary-color;
        margin-top: .5rem;
        height: .01rem;
        transition: inherit;
        transform: scaleX(0);
    }

    &:hover {
        letter-spacing: .1rem;

        &::after { transform: scaleX(1); }
    }
}

