@import "./vars";


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    color: $secondary-color;
    max-width: 600px;
    font-size: 1em;
}

.hero__logo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    z-index: 2;
}

.hero__desc { z-index: 1; }

.arrow {
    cursor: pointer;
    border: none;
    background-color: transparent;

    img {
        width: 2rem;
        height: 2rem;
        transform: rotate(90deg);
    }
}
