@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./vars";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  
body {
    background-color: #1d1d1d;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  gap: 5rem;
  margin: 5rem;
}

section { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a { text-decoration: none; }


.title { 
  padding-bottom: 1rem;
  display: inline-block;
  transition: all .15s ease-in-out;
  overflow: hidden;

  &::after {
      display: block;
      content: '';
      margin-top: 0.1rem;

      height: 0.1rem;
      transition: inherit;
      transform: scaleX(30%) translateX(-130%);
      background-color: $secondary-color;
  }

  &:hover {
      &::after { transform: scaleX(50%); }
  }

  &.bg-orange {
    &::after { background-color: #e28e11; }
  }

  &.bg-pink {
    &::after { background-color: #e263a9; }
  }

  &.bg-red {
    &::after { background-color: #e90141; }
  }
}