.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  margin: 2rem;
}

.main__item-image {
  border-radius: 0.5vh;
  width: 200px;
  object-fit: cover;
}

.main__item {
  display: flex;
  color: white;
  gap: 2rem;
  text-align: left;
}
@media screen and (max-width: 460px) {
  .main__item {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .main__item .main__item-image {
    order: 1;
  }
}

.title {
  padding-bottom: 1rem;
  display: inline-block;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}
.title::after {
  display: block;
  content: "";
  margin-top: 0.1rem;
  height: 0.1rem;
  transition: inherit;
  transform: scaleX(30%) translateX(-130%);
  background-color: #e263a9;
}
.title:hover::after {
  transform: scaleX(50%);
}